@media (min-width: 960px) {
  body {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  main > nav {
    width: 150px;
    order: 1;
  }

  main > section {
    flex: 1;
    order: 2;
  }

  main > aside {
    width: 150px;
    order: 3;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
