* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body > * {
  border: 1px solid #111;
}

body > header,
body > footer {
  background: #444;
  color: #eee;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
main {
  background: #fafafa;
}

main > section {
  background: #ccc;
}

main > nav {
  background: #ff0000;
}
